.DS_Store
Otoro-client-2.xcodeproj/project.xcworkspace/xcuserdata/
Otoro-client-2.xcodeproj/xcuserdata/
SnapperMap.xcodeproj/project.xcworkspace/xcuserdata/Home.xcuserdatad/
SnapperMap.xcodeproj/xcuserdata/Home.xcuserdatad/
SnapperMap.xcodeproj/project.xcworkspace/xcuserdata/geoffreywoo.xcuserdatad/UserInterfaceState.xcuserstate
